# 忽略所有目标文件夹
**/target/
**/.vscode/
**/.fitten/


# 忽略 IDE 配置文件和目录
.idea

# 忽略 IntelliJ IDEA 项目文件
*.iml

# 忽略编译生成的类文件
*.class

# 忽略以 Test.java 结尾的测试文件
*Test.java

# 忽略所有测试文件夹
**/test/

# 忽略spring配置文件防止上传重要消息
application-dev.yml


# 忽略 node_modules 文件夹，其中包含所有 npm 安装的依赖
node_modules/

# 忽略 npm 和 yarn 的本地缓存文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略 IDE 和编辑器的配置文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# 忽略系统文件
*.DS_Store
Thumbs.db

# 忽略 dist 文件夹，这是构建后生成的文件，不需要上传到版本控制系统
dist/

# 忽略环境变量配置文件，这些文件通常包含敏感信息
.env
.env.*
.env.development.local
.env.production.local

# 忽略构建输出的统计数据文件
stats.json

# 忽略测试报告
coverage/

# 忽略临时文件
*.log
*.tmp

# 忽略自动生成的文件
*.gz
*.map

# 忽略 WebStorm 自动生成的文件
*.iml
*.iws

